<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="applyCssError('name')">
        <label for="name">Nome</label>
        <input
            type="text" 
            class="form-control" 
            id="name" 
            formControlName="name" 
            placeholder="Nome"
            required 
        >
        <app-message-error *ngIf="verifyValidTouched('name')" message="Campo de preenchimento Obrigatório"></app-message-error>
    </div>
    <div class="form-group" [ngClass]="applyCssError('email')">
        <label for="email">Email</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            formControlName="email" 
            required 
            placeholder="email@email.com"
        >
        <app-message-error *ngIf="verifyValidTouched('email')" message="Campo de preenchimento Obrigatório"></app-message-error>
    </div>
    <div formGroupName="address">
        <div class="row">
            <div class="form-group col-sm-3" [ngClass]="applyCssError('address.cep')">
                <label for="cep">CEP</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="cep" 
                    formControlName="cep" 
                    required 
                    placeholder="CEP"
                    (blur)="getAdress()"
                >
                <app-message-error *ngIf="verifyValidTouched('address.cep')" message="Campo de preenchimento Obrigatório"></app-message-error>
            </div>
            <div class="form-group col-sm-3" [ngClass]="applyCssError('address.number')">
                <label for="number">Número</label>
                <input 
                    type="number" 
                    class="form-control" 
                    id="number" 
                    formControlName="number" 
                    required 
                    placeholder="Número" 
                >
                <app-message-error *ngIf="verifyValidTouched('address.number')" message="Campo de preenchimento Obrigatório"></app-message-error>
            </div>
            <div class="form-group col-sm-6">
                <label for="complement">Complemento</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="complement" 
                    formControlName="complement" 
                    placeholder="Complemento"
                >
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12">
                <label for="street">Logradouro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="street" 
                    formControlName="street" 
                    placeholder="Logradouro" 
                    readonly
                >
            </div>
        </div>
       
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="neighborhood">Bairro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="neighborhood" 
                    formControlName="neighborhood" 
                    placeholder="Bairro" 
                    readonly 
                >
            </div>
            <div class="form-group col-sm-5">
                <label for="city">Cidade</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="city" 
                    formControlName="city" 
                    placeholder="Cidade" 
                    readonly 
                >
            </div>
            <div class="form-group col-sm-2">
                <label for="uf">UF</label>
                <select class="form-control" formControlName="uf" id="uf">
                    <option *ngFor="let state of states | async">{{state.sigla}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-around m-3">
        <button type="button" (click)="formReset()" class="btn btn-secondary col-4">Cancelar</button>
        <button type="submit" class="btn btn-primary col-4">Enviar</button>
    </div>
</form>