<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-field
        class="col-12"
        formControlName="name"
        [cssClass]="applyCssError('name')"
        id="name"
        type="text"
        label="Nome"
        [control]="form.get('name')">
    </app-input-field>
    <div class="form-group" [ngClass]="applyCssError('email')">
        <label for="email">Email</label>
        <input 
            type="email" 
            class="form-control" 
            id="email"
            formControlName="email" 
            required 
            placeholder="email@email.com"
        >
        <app-message-error [control]="form.get('email')" label="Email"></app-message-error>
    </div>
    <div class="form-group" [ngClass]="applyCssError('confirmEmail')">
        <label for="confirmEmail">Confirmar Email</label>
        <input 
            type="confirmEmail" 
            class="form-control" 
            id="confirmEmail" 
            formControlName="confirmEmail" 
            required 
            placeholder="confirmEmail@confirmEmail.com"
        >
        <app-message-error [control]="form.get('confirmEmail')" label="Confirmar Email"></app-message-error>
    </div>
    <div formGroupName="address">
        <div class="row">
            <div class="form-group col-sm-3" [ngClass]="applyCssError('address.cep')">
                <label for="cep">CEP</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="cep" 
                    formControlName="cep" 
                    required 
                    placeholder="CEP"
                >
                <app-message-error [control]="form.get('address.cep')" label="CEP"></app-message-error>
            </div>
            <div class="form-group col-sm-3" [ngClass]="applyCssError('address.number')">
                <label for="number">Número</label>
                <input 
                    type="number" 
                    class="form-control" 
                    id="number" 
                    formControlName="number" 
                    required 
                    placeholder="Número" 
                >
                <app-message-error [control]="form.get('address.number')" label="Número"></app-message-error>
            </div>
            <div class="form-group col-sm-6">
                <label for="complement">Complemento</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="complement" 
                    formControlName="complement" 
                    placeholder="Complemento"
                >
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12">
                <label for="street">Logradouro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="street" 
                    formControlName="street" 
                    placeholder="Logradouro" 
                    readonly
                >
            </div>
        </div>
       
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="neighborhood">Bairro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="neighborhood" 
                    formControlName="neighborhood" 
                    placeholder="Bairro" 
                    readonly 
                >
            </div>
            <!-- <div class="form-group col-sm-4">
                <label for="city">Cidade</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="city" 
                    formControlName="city" 
                    placeholder="Cidade" 
                    readonly 
                >
            </div> -->
            <div class="form-group col-sm-2">
                <label for="uf">UF</label>
                <select class="form-control" formControlName="uf" id="uf">
                    <option *ngFor="let state of states" [value]="state.sigla">{{state.sigla}}</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <label for="city">Cidade</label>
                <select class="form-control" formControlName="city" id="city">
                    <option *ngFor="let city of cities" [value]="city.id">{{city.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="position">Cargos</label>
            <select class="form-control" formControlName="position" id="position">
                <option *ngFor="let position of positions" [ngValue]="position">{{position.description}}</option>
            </select>
        </div>
        <div class="form-group col-sm-4">
            <label for="technology">Tecnologias</label>
            <select multiple class="form-control" formControlName="technology" id="technology">
                <option *ngFor="let technology of technologies" [value]="technology.name">{{technology.description}}</option>
            </select>
        </div>
        <div class="form-group col-sm-4">
            <label for="newsletter">Newsletter</label>
            <div id="newsletter" class="row">
                <div class="col-sm-3" *ngFor="let item of newsletter">
                    <label class="radio-inline">
                        <input type="radio" [value]="item.value" formControlName="newsletter"> {{ item.description }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
           <div class="col-sm-6" [ngClass]="applyCssError('terms')">
               <div class="checkbox">
                   <label for="terms" class="checkbox-inline">
                        <input type="checkbox" formControlName="terms" id="terms"> Aceito os termos
                   </label>
               </div>
               <app-message-error [control]="form.get('terms')" label="Termo"></app-message-error>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="frameworks"></label>
            <div id="frameworks" class="checkbox col-sm-4 row" formArrayName="frameworks" *ngFor="let item of form.get('frameworks')['controls']; let i = index;">
                <label class="checkbox-inline">
                    <input type="checkbox" [formControlName]="i"> {{ frameworks[i] }}
                </label>
                <app-message-error [control]="form.get('frameworks')" label="Frameworks"></app-message-error>
            </div>
        </div>
    </div>
    <div class="row justify-content-around m-3">
        <button type="button" (click)="formReset()" class="btn btn-secondary col-4">Cancelar</button>
        <button type="submit" class="btn btn-primary col-4">Enviar</button>
    </div>
</form>