<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Http</a>
  <div class="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/courses">Cursos</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/upload">Upload Arquivo</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/reactive-search">Busca Reativa</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>